<p id="notice"><%= notice %></p>

<h1>Listando Usuários</h1>

<% @users.each do |user| %>
      <tr>
      <td><%= user.email %></td><br>
      <td><%= user.role %></td><br>
        </tr>
  <% end %>
</div>