<div class="browse">
  <div class="carousel">
    <h3 class="video-title">Assista também</h3>
    <div class="video-container owl-carousel owl-theme" id="videos">
      <% @videos.each do |video| %>
        <div class="item" id="<%= dom_id video %>">          
          <% video.pictures.each do |pic| %>
            <% next unless pic.file.present? %>
            <%= link_to image_tag(pic.file_url), video,
                                                data: { turbo_frame: "_top",
                                                        turbo_action: "advance" } %>
          <% end %>
          <h2>
            <%= video.title %>
          </h2>
        </div>
      <% end %>
    </div>
  </div>
</div>