<footer>
  <div class="logo-footer"><%= image_tag "logo.png", height: 40 %></div>
  <p>
    Desenvolvido por
    <a href="https://github.com/xspynks" target="_blank">Rafael de Paula</a>.
  </p>
  <h5>v0.1</h5>
</footer>
