<header>
  <div class="navigation-1">
    <div class="nav-left-box">
      <div class="logo-header">
        <%= link_to image_tag("logo.png", height: 40, alt: "Logo Ciroflix") %>
      </div>

      <nav>
        <a href="/">Início</a>
        <a href="mailto:xspynks@gmail.com" target="_blank">Contato</a>
      </nav>
    </div>
    <div class="navigation-2">
      <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
      <a href="#"><i class="fa-brands fa-twitter fa-xl"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin fa-xl"></i></a>
    </div>
  </div>
</header>
