<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200&family=Roboto+Serif:wght@100&display=swap"
      rel="stylesheet"
    />
    <title>Ciroflix - Assista vídeos de Ciro Gomes grátis</title>
  </head>
  <body>
    <main class="container">
      <header>
        <div class="navigation-1">
          <h2 class="logo">CIROFLIX</h2>
          <nav>
            <a href="#">Início</a>
            <a href="#">Séries</a>
            <a href="#">Filmes</a>
            <a href="#">Documentários</a>
          </nav>
        </div>

        <div class="navigation-2">
          <a href="#"><p>Cadastre-se</p></a>
          <a href="#"><p>Fazer login</p></a>
        </div>
      </header>
      <section class="featured">
        <div class="title">
          <!-- <h2>Cadastre-se e fique por dentro!</h2> -->
        </div>
        <div class="frame">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/IhnHYvoikiQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>

          <div class="subtitle">
            <h3>BOMBANDO AGORA</h3>
          </div>
        </div>
      </section>

      <section class="browse">
        <h3>Popular no Ciroflix</h3>
        <div class="video-container">
          <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
          <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
          <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
          <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
          <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
        </div>
        <h3>Popular no Ciroflix</h3>
        <div class="video-container">
          <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
          <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
          <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
          <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
          <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
        </div>
        <h3>Popular no Ciroflix</h3>
        <div class="video-container">
          <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
          <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
          <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
          <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
          <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
        </div>
        <h3>Popular no Ciroflix</h3>
        <div class="video-container">
          <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
          <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
          <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
          <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
          <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
        </div>
      </section>
    </main>
  </body>
</html>
