        <main class="container">
      <header>
        <div class="navigation-1">
          <h2 class="logo">CIROFLIX</h2>
          <nav>
            <a href="#">Início</a>
            <a href="#">Séries</a>
            <a href="#">Filmes</a>
            <a href="#">Documentários</a>
          </nav>
        </div>

        <div class="navigation-2">
          <a href="mailto: xspynks@gmail.com" target="_blank"
            ><p>Entre em contato</p></a
          >
          <!-- <a href="#"><p>Fazer login</p></a> -->
        </div>
      </header>
      <section class="featured">
        <div class="featured-title">
          <h2>Lorem ipsum dolor sit amet</h2>
        </div>
        <div class="featured-info"><h3>Viralizou</h3></div>
        <div class="featured-description">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
            maiores optio accusamus, ab doloribus totam illo quibusdam debitis
            architecto iure rem, doloremque, odio minima. Perferendis provident
            porro atque molestias voluptatibus.
          </p>
        </div>
        <div class="featured-btn">
          <button role="button" class="btn">▶ Assistir</button>
          <button role="button" class="btn-2">+ Meus favoritos</button>
        </div>
      </section>

      <div class="browse">
        <div class="carousel">
          <h3>Popular no Ciroflix</h3>
          <div class="video-container owl-carousel owl-theme">
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" class="imagem" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
          </div>
        </div>

        <div class="carousel">
          <h3>Popular no Ciroflix</h3>
          <div class="video-container owl-carousel owl-theme">
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" class="imagem" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
          </div>
        </div>
        <div class="carousel">
          <h3>Popular no Ciroflix</h3>
          <div class="video-container owl-carousel owl-theme">
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" class="imagem" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
          </div>
        </div>

        <div class="carousel">
          <h3>Popular no Ciroflix</h3>
          <div class="video-container owl-carousel owl-theme">
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" class="imagem" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
          </div>
        </div>
    </main>
    <footer>
      <p>
        Versão 1.0, &lt;/&gt; com 💙 por
        <a href="https://github.com/xspynks" target="_blank">Rafael de Paula</a
        >, utilizando HTML5, CSS3 e JavaScript. Hospedado no
        <a href="https://heroku.com" target="_blank">Heroku</a>.
      </p>
    </footer>
    <script src="assets/jquery.min.js"></script>
    <script src="assets/owl.carousel.min.js"></script>
    <script src="assets/setup.js"></script>

