    <main class="container">
      <header>
        <div class="navigation-1">
        <div class="logo-header">
           <a href="/"><%= image_tag "logo.png", alt: "Logo Ciroflix", height: 40 %></div></a>

          <!-- <h2 class="logo">CIROFLIX</h2> -->
          <nav>
            <a href="/">Início</a>
            <a href="#">Blog</a>
            <a href="mailto:xspynks@gmail.com" target="_blank">Contato</a>
          </nav>
        </div>

        <div class="navigation-2">
            <a href="#"><i class="fa-brands fa-instagram fa-xl	"></i></a>
            <a href="#"><i class="fa-brands fa-twitter fa-xl	"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin fa-xl	"></i></a>
          </a>

        </div>
      </header>
      <section class="featured">
        <div class="featured-title">
          <h2>Reparem bem...</h2>
        </div>
        <div class="featured-info"><h3>Vamos limpar o nome de todo mundo!</h3></div>
        <div class="featured-description">
          <p>
Limpar o nome dos caminhoneiros (e de todos que precisam) não é caridade e muito menos demagogia. É a prioridade para restaurar o principal motor de ativação da economia - que é o consumo das famílias. E digo mais: isso é algo bem simples que já fazemos com êxito aqui no Ceará. 
          </p>
        </div>
        <div class="featured-btn">
          <button role="button" class="btn">▶ Assistir</button>
          <button role="button" class="btn-2">+ Meus favoritos</button>
        </div>
      </section>

      <div class="browse">
        <div class="carousel">
          <h3>Popular no Ciroflix</h3>
          <div class="video-container owl-carousel owl-theme">
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" class="imagem" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
          </div>
        </div>

        <div class="carousel">
          <h3>Participações em Podcasts</h3>
          <div class="video-container owl-carousel owl-theme">
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" class="imagem" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/y4xcPBT/cover.jpg" />
            </div>
            <div class="item">
              <img src="https://i.ibb.co/0DG8qyj/cover.jpg" />
            </div>
          </div>
        </div>       
    </main>
    
    <footer> 
    <div class="logo-footer">
    <%= image_tag "logo.png", height: 40 %></div>
      <p>Desenvolvido por <a href="https://github.com/xspynks" target="_blank">Rafael de Paula</a>.</p>     
        <h5>v1.0</h5>
    </footer>

    <script src="https://xspynks.github.io/ciroflix/app/javascript/jquery.min.js"></script>
    <script src="https://xspynks.github.io/ciroflix/app/javascript/owl.carousel.min.js"></script>
    <script src="https://xspynks.github.io/ciroflix/app/javascript/setup.js"></script>

    <!-- <script src="assets/jquery.min.js"></script>
    <script src="assets/owl.carousel.min.js"></script>
    <script src="assets/setup.js"></script> -->

