:root {
  --blue: #0f63e0;
  --white: #ffffff;
  --black: #141414;
  --gray: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:-webkit-any-link {
  text-decoration: none;
}

body {
  background: var(--black);
  font-family: "Times New Roman", Times, serif;
  background-image: url("https://i.ibb.co/QkYGdPK/image.webp");
  background-size: 100%;
  background-repeat: no-repeat;
}
.container {
  margin: 0 60px 0 60px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-family: "Roboto Serif", cursive;
  font-weight: bold;
}

header a {
  text-decoration: none;
  color: var(--white);
}

header a:hover {
  text-decoration: none;
  color: var(--blue);
}

header a:visited {
  color: var(--white);
  text-decoration: none;
}

header .navigation-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

header .navigation-2 {
  display: flex;
  gap: 15px;
  color: var(--white);
}

.navigation-2 a:hover {
  color: var(--blue);
}

header .logo {
  color: var(--blue);
  font-family: "Arial Black", Times;
  font-size: 48px;
  margin-left: 5px;
  padding-right: 25px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 4px;
}

header nav a {
  text-decoration: none;
  color: var(--white);
  margin-right: 10px;
}

header nav a:hover {
  color: var(--blue);
}

.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0px 100px 0 0;
  padding: 0 0 80px 0;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 82vh;
}

.featured iframe {
  border: 3px var(--blue) dotted;
  border-radius: 15px;
  margin-top: 90px;
}

.featured h3 {
  font-size: 48px;
  padding: 20px 0 0 0;
  margin: 0 auto 0 auto;
  letter-spacing: 6px;
  text-align: center;
}

.featured-title {
  font-size: 40px;
  font-weight: 700;
}

.featured-info h3 {
  font-size: 18px;
  letter-spacing: 0px;
}

.featured-description {
  font-size: 20px;
  color: var(--gray);
  padding-top: 5px;
  width: 40%;
}

.title {
  margin-top: 300px;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  -webkit-text-stroke: 1px var(--black);
}

.browse {
  width: 100%;
}

.browse h3 {
  color: var(--gray);
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.video-container {
  display: flex;
  gap: 7px;
}

.video-container img {
  padding-bottom: 60px;
}

footer {
  border-top: 1px var(--blue) dashed;
  margin: 35px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: "Roboto Serif", sans-serif;
  padding-top: 20px;
  color: var(--white);
}

footer a {
  color: var(--blue);
}
