:root {
  --blue: #2f7ff7;
  --white: #ffffff;
  --black: #141414;
  --gray: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--blue) var(--gray);
}

a:-webkit-any-link {
  text-decoration: none;
}

body {
  background: var(--black);
  font-family: "Poppins", Times, serif;
  -webkit-font-smoothing: antialiased;
}
.container {
  margin: 0 60px 0 60px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-family: "Roboto Serif", cursive;
  font-weight: bold;
}

header a {
  text-decoration: none;
  color: var(--white);
}

header a:hover {
  text-decoration: none;
  color: var(--blue);
}

header a:visited {
  color: var(--white);
  text-decoration: none;
}

header .navigation-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

header .navigation-2 {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  color: var(--white);
  height: 100%;
}

.navigation-2 a:hover {
  color: var(--blue);
}

header .logo-header {
  margin: 4px 33px 0 0;
}

header nav a {
  text-decoration: none;
  color: var(--white);
  margin-right: 10px;
}

header nav a:hover {
  color: var(--blue);
}

.featured {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://i.ibb.co/QkYGdPK/image.webp");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0px 100px 0 0;
  padding: 0 0 170px 0;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 78vh;
  margin-bottom: 30px;
}

.featured iframe {
  border: 3px var(--blue) dotted;
  border-radius: 15px;
  margin-top: 90px;
}

.featured h3 {
  font-size: 48px;
  padding: 20px 0 0 0;
  margin: 0 auto 0 auto;
  letter-spacing: 6px;
  text-align: center;
}

.featured-title {
  font-size: 40px;
  font-weight: 700;
}

.featured-info h3 {
  font-size: 18px;
  letter-spacing: 0px;
}

.featured-description {
  font-size: 20px;
  color: var(--gray);
  padding-top: 5px;
  width: 40%;
}

.featured-btn {
  display: flex;
  gap: 10px;
}

.featured-btn button {
  margin: 20px 0 0 0;
  padding: 25px 0px;
  display: flex;
  border-radius: 5px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.btn {
  color: #333;
  opacity: 1;
  background-color: var(--white);
  width: 200px;
  height: 30%;
  border: 0;
  cursor: pointer;
}

.btn:hover {
  background-color: #d8d8d8;
}

.btn-2 {
  color: var(--white);
  background-color: rgb(90, 90, 90);
  width: 80%;
  height: 30%;
  border: 0;
  cursor: pointer;
}

.btn-2:hover {
  background-color: rgb(65, 65, 65);
}

.title {
  margin-top: 300px;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  -webkit-text-stroke: 1px var(--black);
}

.browse {
  width: 100%;
}

.browse h3 {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  -webkit-text-stroke-width: 1px;
  letter-spacing: 2px;
}

.browse img {
  opacity: 0.7;
}

.browse img:hover {
  opacity: initial;
}

.carousel {
  height: 100%;
  width: 100%;
}

.video-container {
  display: flex;
  gap: 7px;
}

.item img {
  padding: 5px 5px 0 0;
  height: fit-content;
}

.carousel::-webkit-scrollbar {
  width: 10px;
  border-radius: 100p;
  border-radius: 100px;
}

.carousel::-webkit-scrollbar-track {
  background-color: var(--black);
}

.carousel::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px var(--blue);
  outline: 1px dotted var(--blue);
  border-radius: 100px;
}

footer {
  border-top: 4px groove var(--blue);
  margin: 35px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 20px;
}

footer p {
  font-family: "Roboto Serif", sans-serif;
  padding-top: 20px;
  color: var(--white);
}

footer h5 {
  font-family: "Roboto Serif", sans-serif;
  padding-top: 5px;
  color: var(--white);
}

footer a {
  color: var(--gray);
}

footer a:hover {
  color: var(--blue);
}

footer .logo-footer {
  margin: 0 auto 0 auto;
  padding-top: 30px;
}

@media screen and (max-width: 1320px) {
  header {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .featured {
    background-size: cover;
    background-position: top right;
    margin: 0 auto 0 auto;
    background: none;
    padding: 20px 0 60px 0;
    height: 100%;
  }

  .featured-description {
    width: 80%;
  }
}

@media screen and (max-width: 475px) {
  body {
    text-align: center;
  }

  .container {
    margin: 30px;
  }
  header {
    display: flex;
    justify-content: space-between;
  }

  header .navigation-1 {
    gap: 20px;
  }

  header .navigation-2 {
    display: none;
  }

  .featured {
    margin: 0 auto 0 auto;
    background: none;
    padding: 20px 0 60px 0;
    height: 100%;
  }

  .featured h2 {
    font-size: 36px;
  }

  .featured-title {
    width: 100%;
  }

  .featured-info {
    width: 100%;
    padding-bottom: 15px;
  }

  .featured-description {
    width: 100%;
    padding-bottom: 50px;
  }

  .featured-btn {
    width: 100%;
  }

  .btn {
    width: 50%;
  }

  .btn-2 {
    width: 50%;
  }

  .browse h3 {
    padding: 30px 0 20px 0;
  }

  footer {
    flex-direction: column;
  }
}
